{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="toptext col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Top 10</h2>
        </div>
    </div>

    <br clear="both" />

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if top_ten_rank %}
                <table class="table table-condensed table-striped table-hovered">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Elapsed Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for top in top_ten_rank %}
                        <tr>
                            <td>{{ top.1 }}</td>

                            <td>{% if last_entry == top.0.id and not top.0.name and top.0.elapsed_time == elapsed_time %}
                                    <form method="POST">{% csrf_token %}
                                        <div class="topscore input-group input-group-sm">
                                            {{ form.name }}
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary btn-xs">Save</button>
                                            </span>
                                        </div>
                                    </form>
                                {% else %}
                                    {{ top.0.name }}
                                {% endif %}
                            </td>
                            <td><script>document.write(ms_to_time("{{ top.0.elapsed_time }}"));</script></td>
                        </tr>
                        {% endfor %}
                </table>
            {% else %}
                <img class="img-responsive center-block" src="{% static 'img/meme.jpeg' %}" />
            {% endif %}
        </div>
    </div>

    <br clear="both" />

    <div id="buttons" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="{% url 'index' %}" class="btn btn-primary btn-lg btn-block">Try Again</a>
        </div>
    </div>

{% endblock content %}